# Neural Network for Predicting World Series Champions
The procedure has been borrowed in part from the machine learning class examples

# Read in data and pre-process

In [1]:
# import dependencies
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [2]:
# read in data
pd.set_option('display.max_columns', None)
mlb_df = pd.read_csv('resources/mlb_data.csv')
# mlb_df.head()

In [3]:
# change the League column to be binary instead of string
for i, row in mlb_df.iterrows():
#     print(i,row['Lg'])
    if row['Lg'] == 'AL':
        mlb_df.at[i,'Lg'] = 0
#         print(f'new value at {i} is {mlb_df.at[i,"Lg"]}')
    elif row['Lg'] == 'NL':
        mlb_df.at[i,'Lg'] = 1
#         print(f'new value at {i} is {mlb_df.at[i,"Lg"]}')

In [4]:
# league is now a 1 or 0
# mlb_df.head()
# mlb_df.dtypes

# Split into training and testing set
Manually split the data by season. Odd years will be used for training, while even years will be used for testing

In [5]:
# get X and Y train for making the model
train_df = mlb_df.loc[mlb_df['Year'] % 2 == 1]
train_data = train_df.values
X_train = train_data[:, 3:22]
y_train = train_data[:,23]

In [6]:
# get X and Y for making the model
test_df = mlb_df.loc[mlb_df['Year'] % 2 == 0]
test_data = test_df.values
X_test = test_data[:, 3:22]
y_test = test_data[:,23]

# Scaling and One-hot encoding

In [7]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [8]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# label encode the winner column
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
label_encoder.fit(y_test)
encoded_y_test = label_encoder.transform(y_test)

In [10]:
# One-hot encoding
from keras.utils import to_categorical

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
# y_train_categorical

Using TensorFlow backend.

# Create model

In [11]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [12]:
X_train.shape

(300, 19)

In [13]:
from tensorflow.keras.layers import Dense
number_inputs = 19
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes, activation='relu', input_dim=number_inputs))
model.add(Dense(4))

WARNING:tensorflow:From C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [14]:
number_classes = 2
model.add(Dense(units=number_classes, activation='softmax'))

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 4)                 80
_________________________________________________________________
dense_1 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 10
=================================================================
Total params: 110
Trainable params: 110
Non-trainable params: 0
_________________________________________________________________

In [16]:
# # Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [17]:
print(X_train_scaled.shape)
print(y_train_categorical.shape)

(300, 19)
(300, 2)

In [18]:
# Fit the model
model.fit(
    x=X_train_scaled,
    y=y_train_categorical,
    epochs=1000,
    shuffle=False,
    verbose=0
)

In [19]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

330/330 - 0s - loss: 1.0202 - acc: 0.9364
Loss: 1.0202409025394554, Accuracy: 0.9363636374473572

In [20]:
encoded_predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)
# print(f"Predicted classes: {prediction_labels}")
# print(f"Actual Labels: {list(y_test)}")

# Post-process and analyze results

In [21]:
pd.set_option('display.max_rows', None)
predictions_df = pd.DataFrame({'Prediction':prediction_labels, 'Actual':list(y_test)})
# predictions_df.head()

In [22]:
winners_df = predictions_df.loc[predictions_df['Actual']]
# winners_df

In [23]:
# connect predictions to the team and season using iloc and test_df
teams = []
years = []
for i, row in winners_df.iterrows():
    team = test_df.iloc[i,2]
    year = test_df.iloc[i,1]
    teams.append(team)
    years.append(year)

In [24]:
# display predictions by team
winners_df['Team'] = teams
winners_df['Year'] = years
# winners_df

In [25]:
# using probabilities 
probs = model.predict_proba(X_test_scaled)
# probs

In [26]:
# dataframe cleanup
probs_df = pd.DataFrame.from_records(probs)
probs_df[0] = probs_df[0] * 100
probs_df[1] = probs_df[1] * 100
probs_df.rename(columns={0:'False', 1:'True'}, inplace=True)
# probs_df.head()

In [27]:
# connect predictions to the team and season using iloc and test_df
all_teams = []
all_years = []
for i, row in probs_df.iterrows():
    team = test_df.iloc[i,2]
    year = test_df.iloc[i,1]
    all_teams.append(team)
    all_years.append(year)
# print(all_years)

In [28]:
# add teams to dataframe
probs_df['Year'] = all_years
probs_df['Team'] = all_teams
probs_df.sort_values(by=['Year','True'],ascending=False)
# probs_df.head()

          False          True  Year Team
285   99.954611  4.538621e-02  2020  LAD
313  100.000000  3.847757e-09  2020  TBR
305  100.000000  7.962339e-12  2020  MIN
317  100.000000  1.476840e-12  2020  OAK
301  100.000000  3.748849e-14  2020  SDP
300  100.000000  4.638539e-16  2020  CHW
306  100.000000  3.482783e-16  2020  CIN
326  100.000000  2.053774e-16  2020  CLE
316  100.000000  1.323540e-16  2020  CHC
315  100.000000  9.224144e-21  2020  MIL
329  100.000000  3.312958e-21  2020  STL
303  100.000000  2.023124e-21  2020  NYY
318  100.000000  3.225071e-29  2020  HOU
312  100.000000  1.734680e-29  2020  SFG
297  100.000000  1.174041e-32  2020  ATL
309  100.000000  1.503816e-33  2020  LAA
314  100.000000  2.905843e-34  2020  BAL
319  100.000000  9.302809e-35  2020  KCR
307  100.000000  0.000000e+00  2020  TOR
308  100.000000  0.000000e+00  2020  NYM
310  100.000000  0.000000e+00  2020  PHI
311  100.000000  0.000000e+00  2020  BOS
320  100.000000  0.000000e+00  2020  WSN
321  100.000000  0.000000e+00  2020  COL
322  100.000000  0.000000e+00  2020  DET
323  100.000000  0.000000e+00  2020  TEX
324  100.000000  0.000000e+00  2020  MIA
325  100.000000  0.000000e+00  2020  SEA
327  100.000000  0.000000e+00  2020  PIT
328  100.000000  0.000000e+00  2020  ARI
48    99.999869  1.306130e-04  2018  BOS
46    99.999988  7.128790e-06  2018  COL
129  100.000000  3.935689e-07  2018  ATL
151  100.000000  1.473866e-11  2018  CHC
191  100.000000  6.911127e-12  2018  PIT
16   100.000000  7.287609e-13  2018  OAK
52   100.000000  2.439076e-16  2018  STL
26   100.000000  2.371738e-16  2018  MIL
86   100.000000  1.191340e-21  2018  WSN
37   100.000000  9.157909e-22  2018  LAA
156  100.000000  1.215212e-22  2018  MIN
138  100.000000  1.913540e-23  2018  CIN
128  100.000000  9.705783e-25  2018  SEA
214  100.000000  3.161974e-26  2018  TBR
28   100.000000  2.236546e-26  2018  TOR
110  100.000000  1.683963e-26  2018  CHW
0    100.000000  3.166231e-28  2018  NYY
31   100.000000  3.040084e-28  2018  CLE
197  100.000000  1.709328e-32  2018  KCR
250  100.000000  5.570986e-34  2018  DET
79   100.000000  3.797791e-35  2018  TEX
254  100.000000  7.194823e-36  2018  SFG
127  100.000000  1.199069e-36  2018  ARI
11   100.000000  0.000000e+00  2018  LAD
51   100.000000  0.000000e+00  2018  HOU
92   100.000000  0.000000e+00  2018  BAL
98   100.000000  0.000000e+00  2018  PHI
144  100.000000  0.000000e+00  2018  NYM
172  100.000000  0.000000e+00  2018  SDP
264  100.000000  0.000000e+00  2018  MIA
49    28.653562  7.134644e+01  2016  BOS
41   100.000000  1.458187e-08  2016  DET
224  100.000000  4.822626e-09  2016  KCR
35   100.000000  3.315239e-10  2016  TEX
100  100.000000  3.033837e-11  2016  CLE
20   100.000000  2.588088e-11  2016  SEA
265  100.000000  2.641232e-12  2016  MIA
19   100.000000  1.472486e-12  2016  STL
149  100.000000  1.346033e-12  2016  CHW
204  100.000000  5.852877e-13  2016  PIT
195  100.000000  1.312048e-17  2016  LAA
88   100.000000  2.161353e-18  2016  ARI
56   100.000000  1.880523e-20  2016  WSN
2    100.000000  9.445879e-21  2016  BAL
165  100.000000  8.105048e-21  2016  CIN
279  100.000000  3.358269e-21  2016  ATL
106  100.000000  7.732025e-23  2016  NYY
69   100.000000  3.161038e-23  2016  CHC
262  100.000000  6.121477e-25  2016  SFG
55   100.000000  1.107902e-25  2016  COL
121  100.000000  7.909452e-27  2016  SDP
80   100.000000  6.611822e-27  2016  MIL
24   100.000000  4.167048e-28  2016  TOR
32   100.000000  1.513014e-29  2016  TBR
90   100.000000  3.696447e-30  2016  LAD
146  100.000000  2.510364e-31  2016  OAK
178  100.000000  9.677609e-33  2016  PHI
63   100.000000  1.715238e-33  2016  MIN
27   100.000000  3.007110e-34  2016  NYM
71   100.000000  2.432150e-34  2016  HOU
199   99.761522  2.384838e-01  2014  DET
42   100.000000  4.569507e-13  2014  BAL
122  100.000000  1.015984e-14  2014  TOR
302  100.000000  5.869747e-17  2014  KCR
196  100.000000  1.202152e-19  2014  PIT
198  100.000000  4.882528e-20  2014  CHW
200  100.000000  2.252152e-20  2014  LAA
215  100.000000  6.110358e-22  2014  MIL
99   100.000000  1.811026e-23  2014  COL
291  100.000000  5.961433e-24  2014  TEX
253  100.000000  5.047949e-25  2014  LAD
296  100.000000  3.767307e-25  2014  STL
286  100.000000  2.087193e-29  2014  ARI
257  100.000000  1.020430e-30  2014  SFG
266  100.000000  1.099134e-31  2014  MIN
280  100.000000  1.990045e-33  2014  MIA
259  100.000000  3.128652e-35  2014  CIN
169  100.000000  0.000000e+00  2014  HOU
192  100.000000  0.000000e+00  2014  CHC
207  100.000000  0.000000e+00  2014  WSN
225  100.000000  0.000000e+00  2014  NYY
226  100.000000  0.000000e+00  2014  OAK
233  100.000000  0.000000e+00  2014  CLE
246  100.000000  0.000000e+00  2014  SEA
271  100.000000  0.000000e+00  2014  NYM
272  100.000000  0.000000e+00  2014  PHI
277  100.000000  0.000000e+00  2014  ATL
278  100.000000  0.000000e+00  2014  BOS
287  100.000000  0.000000e+00  2014  TBR
293  100.000000  0.000000e+00  2014  SDP
94    28.653562  7.134644e+01  2012  LAA
64    87.580544  1.241945e+01  2012  TEX
59    99.998510  1.488057e-03  2012  MIL
43    99.999869  1.310415e-04  2012  CHW
4    100.000000  1.402758e-08  2012  NYY
186  100.000000  1.157293e-09  2012  STL
170  100.000000  9.493647e-11  2012  DET
161  100.000000  1.931520e-11  2012  BOS
298  100.000000  4.314343e-12  2012  SFG
260  100.000000  5.180558e-13  2012  KCR
81   100.000000  5.034954e-15  2012  WSN
38   100.000000  2.833526e-15  2012  BAL
160  100.000000  1.938262e-15  2012  ARI
72   100.000000  8.092949e-18  2012  TOR
261  100.000000  2.389879e-20  2012  MIN
145  100.000000  9.829383e-23  2012  PIT
289  100.000000  1.154091e-23  2012  LAD
239  100.000000  4.700938e-24  2012  NYM
190  100.000000  8.897116e-26  2012  PHI
281  100.000000  2.021229e-26  2012  SDP
247  100.000000  1.178532e-26  2012  CLE
139  100.000000  5.266420e-27  2012  CIN
244  100.000000  3.085179e-28  2012  MIA
219  100.000000  5.231968e-31  2012  ATL
243  100.000000  3.011351e-31  2012  CHC
78   100.000000  0.000000e+00  2012  OAK
130  100.000000  0.000000e+00  2012  TBR
157  100.000000  0.000000e+00  2012  COL
220  100.000000  0.000000e+00  2012  SEA
227  100.000000  0.000000e+00  2012  HOU
61    28.653562  7.134644e+01  2010  NYY
93    53.851670  4.614834e+01  2010  CIN
174   95.888448  4.111552e+00  2010  TEX
123   98.801780  1.198223e+00  2010  CHW
234   99.792421  2.075782e-01  2010  MIN
44    99.999964  3.732860e-05  2010  BOS
208  100.000000  4.389146e-07  2010  DET
135  100.000000  2.316887e-07  2010  COL
173  100.000000  1.033378e-09  2010  SFG
216  100.000000  7.188073e-10  2010  STL
111  100.000000  1.292400e-11  2010  MIL
158  100.000000  6.689753e-14  2010  PHI
221  100.000000  1.573651e-16  2010  CHC
201  100.000000  6.473936e-17  2010  LAA
209  100.000000  3.702947e-18  2010  FLA
1    100.000000  3.469056e-18  2010  TOR
240  100.000000  6.951580e-20  2010  ATL
268  100.000000  1.673810e-20  2010  NYM
294  100.000000  5.839117e-21  2010  OAK
282  100.000000  2.072002e-21  2010  KCR
222  100.000000  1.301894e-22  2010  WSN
283  100.000000  2.425520e-23  2010  LAD
113  100.000000  3.362686e-24  2010  ARI
295  100.000000  3.794173e-26  2010  HOU
255  100.000000  1.921553e-27  2010  BAL
181  100.000000  5.543504e-29  2010  TBR
267  100.000000  1.541861e-30  2010  CLE
258  100.000000  3.882923e-32  2010  SDP
269  100.000000  0.000000e+00  2010  PIT
299  100.000000  0.000000e+00  2010  SEA
136   28.653562  7.134644e+01  2008  BOS
188   43.053302  5.694669e+01  2008  LAA
102   90.426481  9.573517e+00  2008  CHC
39    98.563808  1.436196e+00  2008  PHI
114   99.953413  4.659065e-02  2008  NYY
73    99.997127  2.878788e-03  2008  MIL
141   99.997520  2.476606e-03  2008  NYM
292  100.000000  2.907626e-06  2008  MIN
152  100.000000  7.427675e-09  2008  HOU
115  100.000000  4.060117e-11  2008  TBR
133  100.000000  1.166095e-11  2008  STL
245  100.000000  1.691933e-12  2008  LAD
143  100.000000  1.300907e-12  2008  CLE
270  100.000000  2.197279e-13  2008  TOR
12   100.000000  1.855639e-13  2008  CHW
50   100.000000  1.336403e-13  2008  FLA
182  100.000000  6.950563e-15  2008  COL
284  100.000000  4.932935e-16  2008  KCR
263  100.000000  1.011435e-16  2008  ATL
304  100.000000  3.784411e-21  2008  SFG
187  100.000000  6.784219e-23  2008  ARI
95   100.000000  3.216254e-27  2008  CIN
65   100.000000  2.140638e-29  2008  DET
203  100.000000  1.147975e-30  2008  SDP
274  100.000000  9.172197e-32  2008  SEA
82   100.000000  4.630051e-32  2008  TEX
140  100.000000  3.611359e-36  2008  BAL
205  100.000000  0.000000e+00  2008  PIT
273  100.000000  0.000000e+00  2008  OAK
288  100.000000  0.000000e+00  2008  WSN
66    28.653562  7.134644e+01  2006  NYM
189   28.653562  7.134644e+01  2006  LAA
232   55.737609  4.426239e+01  2006  MIN
47    90.849161  9.150840e+00  2006  NYY
206   99.999678  3.184785e-04  2006  LAD
179  100.000000  1.224993e-07  2006  SDP
57   100.000000  6.685739e-09  2006  DET
134  100.000000  1.336123e-12  2006  HOU
70   100.000000  6.105702e-13  2006  TOR
112  100.000000  1.076899e-13  2006  FLA
9    100.000000  1.343410e-14  2006  CHW
33   100.000000  7.357378e-15  2006  PHI
29   100.000000  3.443720e-15  2006  CIN
116  100.000000  9.557821e-18  2006  MIL
142  100.000000  3.931943e-19  2006  SEA
131  100.000000  3.406814e-19  2006  OAK
183  100.000000  2.320552e-19  2006  ARI
167  100.000000  5.027092e-20  2006  WSN
77   100.000000  4.435243e-20  2006  CLE
103  100.000000  8.250348e-22  2006  STL
159  100.000000  1.345785e-22  2006  CHC
84   100.000000  1.103112e-23  2006  BOS
171  100.000000  3.203646e-24  2006  SFG
107  100.000000  1.288812e-25  2006  TEX
193  100.000000  5.225538e-26  2006  COL
22   100.000000  5.404753e-28  2006  ATL
237  100.000000  9.609268e-31  2006  PIT
89   100.000000  4.847421e-33  2006  TBD
166  100.000000  2.024685e-35  2006  BAL
275  100.000000  0.000000e+00  2006  KCR
40    28.653562  7.134644e+01  2004  STL
13    97.888261  2.111743e+00  2004  CHC
58    97.966534  2.033463e+00  2004  LAD
96    99.366838  6.331612e-01  2004  HOU
175   99.988914  1.108092e-02  2004  ANA
23    99.999380  6.195057e-04  2004  BOS
241   99.999928  7.055224e-05  2004  SDP
119   99.999976  2.714567e-05  2004  ATL
87    99.999976  2.467638e-05  2004  MIN
223  100.000000  1.138834e-06  2004  FLA
36   100.000000  2.189281e-09  2004  PHI
91   100.000000  1.355294e-09  2004  OAK
7    100.000000  1.758655e-12  2004  NYY
108  100.000000  1.381921e-13  2004  SFG
104  100.000000  2.996237e-16  2004  CLE
101  100.000000  2.951279e-18  2004  NYM
229  100.000000  4.045952e-20  2004  TBD
147  100.000000  1.020482e-20  2004  BAL
235  100.000000  9.506790e-21  2004  PIT
62   100.000000  1.555366e-21  2004  DET
248  100.000000  3.850621e-24  2004  SEA
252  100.000000  2.472121e-25  2004  MIL
17   100.000000  3.481092e-26  2004  TEX
6    100.000000  4.046491e-28  2004  CHW
83   100.000000  1.125389e-29  2004  CIN
213  100.000000  2.239222e-30  2004  MON
230  100.000000  1.853491e-32  2004  TOR
60   100.000000  0.000000e+00  2004  COL
217  100.000000  0.000000e+00  2004  KCR
251  100.000000  0.000000e+00  2004  ARI
124   28.653562  7.134644e+01  2002  BOS
74    86.916780  1.308322e+01  2002  SFG
210   99.424320  5.756749e-01  2002  ANA
154   99.877423  1.225779e-01  2002  MIN
202   99.909949  9.004750e-02  2002  LAD
212   99.997711  2.292101e-03  2002  SEA
132   99.998987  1.010407e-03  2002  STL
176   99.999988  9.598234e-06  2002  MON
162  100.000000  1.460198e-07  2002  ARI
168  100.000000  9.732988e-08  2002  ATL
21   100.000000  6.322236e-08  2002  NYY
153  100.000000  1.401004e-08  2002  HOU
164  100.000000  4.510977e-09  2002  PHI
228  100.000000  3.638449e-09  2002  FLA
53   100.000000  6.299104e-11  2002  OAK
184  100.000000  2.348610e-15  2002  NYM
148  100.000000  5.686987e-16  2002  CIN
30   100.000000  6.746302e-17  2002  CHW
163  100.000000  7.867246e-24  2002  BAL
97   100.000000  4.163972e-25  2002  TOR
67   100.000000  3.976108e-26  2002  CHC
236  100.000000  4.335175e-29  2002  PIT
85   100.000000  1.904915e-32  2002  CLE
238  100.000000  1.151395e-32  2002  KCR
249  100.000000  9.991362e-33  2002  SDP
15   100.000000  2.423481e-34  2002  TEX
242  100.000000  1.040995e-35  2002  MIL
211  100.000000  0.000000e+00  2002  COL
256  100.000000  0.000000e+00  2002  TBD
276  100.000000  0.000000e+00  2002  DET
118   40.148646  5.985135e+01  2000  ATL
45    99.999940  6.204821e-05  2000  LAD
75   100.000000  2.504852e-06  2000  NYM
76   100.000000  1.446921e-06  2000  SEA
18   100.000000  9.909287e-09  2000  SFG
117  100.000000  2.294394e-10  2000  ARI
14   100.000000  2.229341e-10  2000  STL
155  100.000000  6.095234e-12  2000  BOS
185  100.000000  1.073134e-13  2000  FLA
54   100.000000  1.271584e-16  2000  NYY
25   100.000000  5.326554e-17  2000  CLE
194  100.000000  1.547557e-17  2000  SDP
68   100.000000  2.111694e-19  2000  CIN
34   100.000000  8.987428e-22  2000  CHW
125  100.000000  3.334510e-22  2000  DET
8    100.000000  2.363894e-27  2000  OAK
126  100.000000  4.684296e-29  2000  MIL
109  100.000000  1.015635e-29  2000  CHC
177  100.000000  8.475982e-30  2000  TBD
231  100.000000  3.326036e-30  2000  PHI
105  100.000000  2.626306e-31  2000  BAL
10   100.000000  7.616643e-33  2000  ANA
290  100.000000  1.948162e-33  2000  MIN
150  100.000000  3.518137e-34  2000  PIT
5    100.000000  2.574867e-34  2000  TOR
3    100.000000  1.399668e-35  2000  HOU
120  100.000000  0.000000e+00  2000  MON
137  100.000000  0.000000e+00  2000  TEX
180  100.000000  0.000000e+00  2000  COL
218  100.000000  0.000000e+00  2000  KCR

In [29]:
# add top three most likely teams for each season to a dictionary
seasons = probs_df['Year'].unique()
top_three = {}
for season in seasons:
    df = probs_df.loc[probs_df['Year'] == season]
    df = df.sort_values(by='True', ascending=False)
    top_three[season] = {'first_prediction':df.iloc[0,3], 'second_prediction': df.iloc[1,3], 'third_prediction': df.iloc[2,3]}

In [30]:
# put dictionary into dataframe
top_three_df = pd.DataFrame(top_three)
top_three_df = top_three_df.transpose()

In [31]:
# sort by year
top_three_df = top_three_df.sort_index()

In [32]:
# adding year as a column
top_three_df.reset_index(inplace=True)
top_three_df = top_three_df.rename(columns={'index':'Year'})

In [33]:
# top_three_df

In [34]:
# bring in actual winners
even_df = top_three_df.merge(winners_df, on='Year')

In [35]:
# dataframe cleanup
even_df.drop(columns=['Prediction','Actual'], inplace=True)

In [36]:
even_df.head()

   Year first_prediction second_prediction third_prediction Team
0  2000              ATL               LAD              NYM  NYY
1  2002              BOS               SFG              ANA  ANA
2  2004              STL               CHC              LAD  BOS
3  2006              NYM               LAA              MIN  STL
4  2008              BOS               LAA              CHC  PHI

In [37]:
even_df.rename(columns={'Team':'actual'}, inplace=True)

In [38]:
even_df.head()

   Year first_prediction second_prediction third_prediction actual
0  2000              ATL               LAD              NYM    NYY
1  2002              BOS               SFG              ANA    ANA
2  2004              STL               CHC              LAD    BOS
3  2006              NYM               LAA              MIN    STL
4  2008              BOS               LAA              CHC    PHI

# Part 2 - Repeat for odd years

In [39]:
# import dependencies
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [40]:
# read in data
pd.set_option('display.max_columns', None)
mlb_df = pd.read_csv('resources/mlb_data.csv')
# mlb_df.head()

In [41]:
# change the League column to be binary instead of string
for i, row in mlb_df.iterrows():
#     print(i,row['Lg'])
    if row['Lg'] == 'AL':
        mlb_df.at[i,'Lg'] = 0
#         print(f'new value at {i} is {mlb_df.at[i,"Lg"]}')
    elif row['Lg'] == 'NL':
        mlb_df.at[i,'Lg'] = 1
#         print(f'new value at {i} is {mlb_df.at[i,"Lg"]}')

In [42]:
# league is now a 1 or 0
# mlb_df.head()
# mlb_df.dtypes

# Split into training and testing set
Manually split the data by season. Even years will be used for training, while odd years will be used for testing

In [43]:
# get X and Y train for making the model
train_df = mlb_df.loc[mlb_df['Year'] % 2 == 0]
train_data = train_df.values
X_train = train_data[:, 3:22]
y_train = train_data[:,23]

In [44]:
# get X and Y for making the model
test_df = mlb_df.loc[mlb_df['Year'] % 2 == 1]
test_data = test_df.values
X_test = test_data[:, 3:22]
y_test = test_data[:,23]

# Scaling and One-hot encoding

In [45]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [46]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [47]:
# label encode the winner column
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
label_encoder.fit(y_test)
encoded_y_test = label_encoder.transform(y_test)

In [48]:
# One-hot encoding
from keras.utils import to_categorical

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)
# y_train_categorical

# Create model

In [49]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [50]:
X_train.shape

(330, 19)

In [51]:
from tensorflow.keras.layers import Dense
number_inputs = 19
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes, activation='relu', input_dim=number_inputs))
model.add(Dense(4))

In [52]:
number_classes = 2
model.add(Dense(units=number_classes, activation='softmax'))

In [53]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 4)                 80
_________________________________________________________________
dense_4 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 10
=================================================================
Total params: 110
Trainable params: 110
Non-trainable params: 0
_________________________________________________________________

In [54]:
# # Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [55]:
print(X_train_scaled.shape)
print(y_train_categorical.shape)

(330, 19)
(330, 2)

In [56]:
# Fit the model
model.fit(
    x=X_train_scaled,
    y=y_train_categorical,
    epochs=1000,
    shuffle=False,
    verbose=0
)

In [57]:
# Evaluate the model using the testing data
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

300/300 - 0s - loss: 0.9657 - acc: 0.9467
Loss: 0.9657352663079898, Accuracy: 0.9466666579246521

In [58]:
encoded_predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)
# print(f"Predicted classes: {prediction_labels}")
# print(f"Actual Labels: {list(y_test)}")

# Post-process and analyze results

In [59]:
pd.set_option('display.max_rows', None)
predictions_df = pd.DataFrame({'Prediction':prediction_labels, 'Actual':list(y_test)})
# predictions_df.head()

In [60]:
winners_df = predictions_df.loc[predictions_df['Actual']]
# winners_df

In [61]:
# connect predictions to the team and season using iloc and test_df
teams = []
years = []
for i, row in winners_df.iterrows():
    team = test_df.iloc[i,2]
    year = test_df.iloc[i,1]
    teams.append(team)
    years.append(year)

In [62]:
# display predictions by team
winners_df['Team'] = teams
winners_df['Year'] = years
# winners_df

In [63]:
# using probabilities 
probs = model.predict_proba(X_test_scaled)
# probs

In [64]:
# dataframe cleanup
probs_df = pd.DataFrame.from_records(probs)
probs_df[0] = probs_df[0] * 100
probs_df[1] = probs_df[1] * 100
probs_df.rename(columns={0:'False', 1:'True'}, inplace=True)
# probs_df.head()

In [65]:
# connect predictions to the team and season using iloc and test_df
all_teams = []
all_years = []
for i, row in probs_df.iterrows():
    team = test_df.iloc[i,2]
    year = test_df.iloc[i,1]
    all_teams.append(team)
    all_years.append(year)
# print(all_years)

In [66]:
# add teams to dataframe
probs_df['Year'] = all_years
probs_df['Team'] = all_teams
probs_df.sort_values(by=['Year','True'],ascending=False)
# probs_df.head()

          False          True  Year Team
5    100.000000  2.630298e-08  2019  OAK
3    100.000000  1.923241e-11  2019  LAD
2    100.000000  1.269132e-16  2019  HOU
0    100.000000  9.709520e-18  2019  MIN
50   100.000000  7.759287e-18  2019  TBR
8    100.000000  3.161016e-22  2019  ATL
25   100.000000  2.144839e-22  2019  WSN
63   100.000000  1.005327e-22  2019  STL
13   100.000000  6.661567e-28  2019  NYM
11   100.000000  3.655142e-28  2019  BOS
37   100.000000  5.622665e-30  2019  CLE
44   100.000000  2.502294e-31  2019  ARI
7    100.000000  3.865956e-32  2019  MIL
6    100.000000  1.233411e-32  2019  CHC
45   100.000000  5.728827e-34  2019  LAA
1    100.000000  1.903897e-34  2019  NYY
160  100.000000  8.149044e-35  2019  SFG
9    100.000000  0.000000e+00  2019  TOR
15   100.000000  0.000000e+00  2019  SEA
31   100.000000  0.000000e+00  2019  CIN
32   100.000000  0.000000e+00  2019  COL
38   100.000000  0.000000e+00  2019  TEX
48   100.000000  0.000000e+00  2019  SDP
52   100.000000  0.000000e+00  2019  PHI
55   100.000000  0.000000e+00  2019  BAL
118  100.000000  0.000000e+00  2019  CHW
174  100.000000  0.000000e+00  2019  PIT
177  100.000000  0.000000e+00  2019  KCR
221  100.000000  0.000000e+00  2019  DET
232  100.000000  0.000000e+00  2019  MIA
43    99.999523  4.761641e-04  2017  LAD
86   100.000000  1.435670e-09  2017  STL
70   100.000000  4.712948e-10  2017  MIN
17   100.000000  4.036485e-13  2017  HOU
39   100.000000  2.421940e-17  2017  CHC
158  100.000000  5.931327e-18  2017  BOS
14   100.000000  4.984756e-20  2017  NYY
58   100.000000  1.953897e-22  2017  CLE
46   100.000000  1.698294e-22  2017  ARI
53   100.000000  8.158114e-23  2017  WSN
215  100.000000  1.715384e-24  2017  PIT
168  100.000000  3.903055e-27  2017  ATL
94   100.000000  3.920284e-30  2017  COL
22   100.000000  2.502630e-30  2017  OAK
77   100.000000  2.790021e-31  2017  SEA
34   100.000000  1.505494e-31  2017  NYM
30   100.000000  2.438411e-34  2017  TBR
19   100.000000  0.000000e+00  2017  TEX
23   100.000000  0.000000e+00  2017  BAL
33   100.000000  0.000000e+00  2017  MIL
40   100.000000  0.000000e+00  2017  TOR
49   100.000000  0.000000e+00  2017  CIN
90   100.000000  0.000000e+00  2017  MIA
93   100.000000  0.000000e+00  2017  KCR
101  100.000000  0.000000e+00  2017  SDP
104  100.000000  0.000000e+00  2017  DET
107  100.000000  0.000000e+00  2017  CHW
108  100.000000  0.000000e+00  2017  LAA
138  100.000000  0.000000e+00  2017  PHI
269  100.000000  0.000000e+00  2017  SFG
245    2.754707  9.724529e+01  2015  PIT
24    84.066242  1.593376e+01  2015  TOR
149   99.994016  5.985858e-03  2015  CHC
126   99.998784  1.218161e-03  2015  NYM
59    99.999702  2.924891e-04  2015  NYY
255   99.999988  1.459347e-05  2015  SFG
127  100.000000  4.070851e-10  2015  WSN
252  100.000000  2.935325e-10  2015  STL
247  100.000000  7.383698e-14  2015  KCR
105  100.000000  6.630633e-14  2015  LAD
205  100.000000  6.281125e-17  2015  ARI
143  100.000000  5.635859e-19  2015  TEX
27   100.000000  2.992611e-19  2015  HOU
130  100.000000  3.582559e-28  2015  LAA
180  100.000000  4.987967e-29  2015  BOS
225  100.000000  2.454078e-35  2015  SDP
51   100.000000  0.000000e+00  2015  BAL
83   100.000000  0.000000e+00  2015  SEA
109  100.000000  0.000000e+00  2015  COL
161  100.000000  0.000000e+00  2015  CIN
162  100.000000  0.000000e+00  2015  TBR
199  100.000000  0.000000e+00  2015  MIN
216  100.000000  0.000000e+00  2015  DET
233  100.000000  0.000000e+00  2015  OAK
235  100.000000  0.000000e+00  2015  MIL
242  100.000000  0.000000e+00  2015  CLE
254  100.000000  0.000000e+00  2015  CHW
262  100.000000  0.000000e+00  2015  PHI
283  100.000000  0.000000e+00  2015  MIA
295  100.000000  0.000000e+00  2015  ATL
274    0.376172  9.962382e+01  2013  STL
124   44.481549  5.551845e+01  2013  BOS
121   99.993026  6.971230e-03  2013  ATL
181   99.999034  9.700379e-04  2013  PIT
182  100.000000  2.422036e-07  2013  WSN
110  100.000000  6.029890e-08  2013  OAK
150  100.000000  2.432099e-08  2013  CLE
263  100.000000  2.997885e-11  2013  ARI
251  100.000000  9.679890e-12  2013  LAD
131  100.000000  2.721889e-12  2013  DET
201  100.000000  4.729185e-13  2013  CIN
60   100.000000  2.239114e-20  2013  BAL
132  100.000000  1.452939e-21  2013  TEX
169  100.000000  9.534964e-23  2013  TBR
171  100.000000  5.343794e-24  2013  LAA
291  100.000000  1.678020e-24  2013  SFG
234  100.000000  1.336224e-30  2013  SDP
246  100.000000  3.716063e-34  2013  PHI
103  100.000000  0.000000e+00  2013  SEA
112  100.000000  0.000000e+00  2013  TOR
144  100.000000  0.000000e+00  2013  CHC
191  100.000000  0.000000e+00  2013  COL
196  100.000000  0.000000e+00  2013  MIL
217  100.000000  0.000000e+00  2013  MIN
226  100.000000  0.000000e+00  2013  CHW
227  100.000000  0.000000e+00  2013  HOU
237  100.000000  0.000000e+00  2013  NYY
264  100.000000  0.000000e+00  2013  NYM
288  100.000000  0.000000e+00  2013  KCR
296  100.000000  0.000000e+00  2013  MIA
145    0.014360  9.998564e+01  2011  ARI
113   74.243075  2.575693e+01  2011  MIL
41    99.952531  4.747285e-02  2011  NYY
140   99.999809  1.905419e-04  2011  ATL
156   99.999928  7.564192e-05  2011  DET
73    99.999928  7.500462e-05  2011  BOS
64   100.000000  5.127704e-07  2011  TEX
178  100.000000  5.325032e-09  2011  STL
116  100.000000  1.005632e-11  2011  CIN
146  100.000000  9.356162e-19  2011  TBR
209  100.000000  8.371626e-19  2011  PHI
175  100.000000  4.725003e-20  2011  COL
285  100.000000  2.055655e-24  2011  LAD
281  100.000000  1.039361e-26  2011  SFG
111  100.000000  2.389387e-27  2011  TOR
222  100.000000  7.949580e-30  2011  FLA
290  100.000000  6.790926e-30  2011  NYM
208  100.000000  3.927769e-30  2011  WSN
202  100.000000  6.000737e-34  2011  LAA
207  100.000000  4.930216e-35  2011  CLE
95   100.000000  0.000000e+00  2011  BAL
206  100.000000  0.000000e+00  2011  CHW
228  100.000000  0.000000e+00  2011  CHC
267  100.000000  0.000000e+00  2011  KCR
287  100.000000  0.000000e+00  2011  OAK
289  100.000000  0.000000e+00  2011  SEA
292  100.000000  0.000000e+00  2011  PIT
293  100.000000  0.000000e+00  2011  MIN
297  100.000000  0.000000e+00  2011  HOU
299  100.000000  0.000000e+00  2011  SDP
142    0.710413  9.928959e+01  2009  LAA
98    36.076999  6.392300e+01  2009  COL
35    80.589736  1.941026e+01  2009  PHI
192   99.121231  8.787661e-01  2009  FLA
183   99.966550  3.345298e-02  2009  CHC
12    99.997866  2.133097e-03  2009  NYY
236   99.999976  1.848337e-05  2009  LAD
61    99.999988  7.937676e-06  2009  BOS
190  100.000000  4.386897e-06  2009  STL
119  100.000000  3.110924e-10  2009  MIL
65   100.000000  3.954424e-15  2009  TOR
79   100.000000  1.727165e-15  2009  TBR
223  100.000000  1.422363e-17  2009  ATL
141  100.000000  2.634924e-18  2009  ARI
117  100.000000  6.564451e-19  2009  DET
147  100.000000  3.964486e-21  2009  MIN
193  100.000000  2.211405e-22  2009  CIN
243  100.000000  1.003082e-22  2009  SDP
280  100.000000  2.273339e-23  2009  SFG
240  100.000000  3.747049e-28  2009  HOU
36   100.000000  7.053147e-32  2009  TEX
114  100.000000  0.000000e+00  2009  CHW
184  100.000000  0.000000e+00  2009  CLE
188  100.000000  0.000000e+00  2009  BAL
189  100.000000  0.000000e+00  2009  SEA
200  100.000000  0.000000e+00  2009  WSN
238  100.000000  0.000000e+00  2009  KCR
258  100.000000  0.000000e+00  2009  OAK
275  100.000000  0.000000e+00  2009  PIT
298  100.000000  0.000000e+00  2009  NYM
154    1.294031  9.870597e+01  2007  SDP
152   97.197658  2.802340e+00  2007  COL
151   99.838710  1.612860e-01  2007  ARI
129   99.999666  3.306527e-04  2007  NYM
76    99.999988  9.434947e-06  2007  NYY
218  100.000000  2.787780e-06  2007  CHC
56   100.000000  1.644938e-07  2007  PHI
72   100.000000  1.346820e-10  2007  CIN
133  100.000000  1.352354e-11  2007  ATL
163  100.000000  1.766319e-12  2007  HOU
128  100.000000  1.434030e-14  2007  DET
125  100.000000  1.480385e-15  2007  CLE
244  100.000000  9.446154e-16  2007  STL
165  100.000000  2.218983e-16  2007  BOS
268  100.000000  2.301161e-17  2007  LAD
26   100.000000  2.070489e-17  2007  MIL
170  100.000000  8.437434e-22  2007  TOR
278  100.000000  2.581123e-25  2007  LAA
279  100.000000  8.535767e-26  2007  WSN
210  100.000000  1.239043e-30  2007  SEA
229  100.000000  1.306054e-34  2007  PIT
75   100.000000  0.000000e+00  2007  FLA
99   100.000000  0.000000e+00  2007  CHW
106  100.000000  0.000000e+00  2007  TBD
123  100.000000  0.000000e+00  2007  TEX
153  100.000000  0.000000e+00  2007  OAK
241  100.000000  0.000000e+00  2007  BAL
260  100.000000  0.000000e+00  2007  SFG
284  100.000000  0.000000e+00  2007  MIN
294  100.000000  0.000000e+00  2007  KCR
115   99.852449  1.475566e-01  2005  ATL
69    99.970871  2.912428e-02  2005  CLE
80    99.977523  2.248006e-02  2005  BOS
155   99.998438  1.560667e-03  2005  STL
164  100.000000  9.478431e-07  2005  PHI
29   100.000000  5.582569e-08  2005  NYY
137  100.000000  1.015251e-08  2005  NYM
96   100.000000  9.181847e-12  2005  ARI
185  100.000000  4.930839e-12  2005  HOU
78   100.000000  2.185152e-12  2005  CHW
136  100.000000  2.404363e-13  2005  MIL
42   100.000000  2.041588e-17  2005  CIN
270  100.000000  3.382115e-22  2005  FLA
224  100.000000  1.387012e-22  2005  LAD
4    100.000000  2.004975e-23  2005  TEX
91   100.000000  2.422375e-24  2005  CHC
203  100.000000  4.719170e-26  2005  OAK
271  100.000000  2.790836e-27  2005  SFG
230  100.000000  2.250709e-27  2005  LAA
286  100.000000  1.574463e-29  2005  WSN
102  100.000000  4.228179e-30  2005  BAL
265  100.000000  1.471607e-31  2005  SDP
219  100.000000  3.016828e-36  2005  COL
256  100.000000  2.284495e-36  2005  TOR
159  100.000000  0.000000e+00  2005  DET
197  100.000000  0.000000e+00  2005  TBD
248  100.000000  0.000000e+00  2005  PIT
259  100.000000  0.000000e+00  2005  MIN
266  100.000000  0.000000e+00  2005  SEA
273  100.000000  0.000000e+00  2005  KCR
198   22.309256  7.769075e+01  2003  FLA
100   28.018618  7.198138e+01  2003  TOR
47    81.686080  1.831393e+01  2003  CHW
97    89.311606  1.068839e+01  2003  HOU
166   99.027467  9.725353e-01  2003  PHI
88    99.941635  5.836466e-02  2003  STL
18    99.999607  3.970370e-04  2003  BOS
122   99.999785  2.172398e-04  2003  SFG
212  100.000000  5.266135e-06  2003  ARI
148  100.000000  2.481495e-09  2003  CHC
20   100.000000  9.942053e-10  2003  ATL
84   100.000000  8.870755e-10  2003  COL
176  100.000000  4.301587e-10  2003  PIT
204  100.000000  5.069916e-15  2003  MIN
134  100.000000  4.186526e-17  2003  OAK
239  100.000000  8.318909e-19  2003  MON
28   100.000000  6.014177e-23  2003  NYY
249  100.000000  6.679698e-24  2003  SEA
179  100.000000  3.366777e-26  2003  KCR
87   100.000000  7.999634e-27  2003  MIL
272  100.000000  1.131696e-30  2003  SDP
276  100.000000  1.395070e-32  2003  LAD
16   100.000000  6.496213e-36  2003  TEX
120  100.000000  0.000000e+00  2003  CIN
194  100.000000  0.000000e+00  2003  CLE
211  100.000000  0.000000e+00  2003  DET
213  100.000000  0.000000e+00  2003  BAL
220  100.000000  0.000000e+00  2003  ANA
253  100.000000  0.000000e+00  2003  TBD
277  100.000000  0.000000e+00  2003  NYM
92     1.035172  9.896483e+01  2001  CHC
62    99.908447  9.154807e-02  2001  CLE
157   99.997151  2.850359e-03  2001  SEA
173   99.999797  2.019105e-04  2001  PHI
68    99.999833  1.613494e-04  2001  HOU
71    99.999976  2.263155e-05  2001  LAD
81   100.000000  3.214166e-06  2001  OAK
187  100.000000  3.173087e-06  2001  SDP
74   100.000000  8.310871e-07  2001  NYY
85   100.000000  8.964653e-08  2001  BOS
139  100.000000  4.127303e-08  2001  ATL
21   100.000000  5.079495e-09  2001  SFG
67   100.000000  1.982523e-09  2001  ARI
54   100.000000  4.106355e-11  2001  CHW
82   100.000000  2.908016e-12  2001  STL
172  100.000000  1.671237e-22  2001  MIN
231  100.000000  1.517531e-26  2001  NYM
10   100.000000  2.682058e-27  2001  TEX
167  100.000000  1.513026e-29  2001  FLA
89   100.000000  2.669890e-34  2001  TOR
57   100.000000  0.000000e+00  2001  COL
66   100.000000  0.000000e+00  2001  MIL
135  100.000000  0.000000e+00  2001  CIN
186  100.000000  0.000000e+00  2001  PIT
195  100.000000  0.000000e+00  2001  ANA
214  100.000000  0.000000e+00  2001  KCR
250  100.000000  0.000000e+00  2001  DET
257  100.000000  0.000000e+00  2001  BAL
261  100.000000  0.000000e+00  2001  MON
282  100.000000  0.000000e+00  2001  TBD

In [67]:
# add top three most likely teams for each season to a dictionary
seasons = probs_df['Year'].unique()
top_three = {}
for season in seasons:
    df = probs_df.loc[probs_df['Year'] == season]
    df = df.sort_values(by='True', ascending=False)
    top_three[season] = {'first_prediction':df.iloc[0,3], 'second_prediction': df.iloc[1,3], 'third_prediction': df.iloc[2,3]}

In [68]:
# put dictionary into dataframe
top_three_df = pd.DataFrame(top_three)
top_three_df = top_three_df.transpose()

In [69]:
# sort by year
top_three_df = top_three_df.sort_index()

In [70]:
# adding year as a column
top_three_df.reset_index(inplace=True)
top_three_df = top_three_df.rename(columns={'index':'Year'})

In [71]:
# top_three_df

In [72]:
# bring in actual winners
odd_df = top_three_df.merge(winners_df, on='Year')

In [73]:
# dataframe cleanup
odd_df.drop(columns=['Prediction','Actual'], inplace=True)

In [74]:
odd_df.head()

   Year first_prediction second_prediction third_prediction Team
0  2001              CHC               CLE              SEA  ARI
1  2003              FLA               TOR              CHW  FLA
2  2005              ATL               CLE              BOS  CHW
3  2007              SDP               COL              ARI  BOS
4  2009              LAA               COL              PHI  NYY

In [75]:
odd_df.rename(columns={'Team':'actual'}, inplace=True)

In [76]:
# odd_df.head()

In [77]:
# even_df.head()

In [78]:
df = pd.concat([even_df, odd_df])
# df.head()

In [79]:
df = df.sort_values(by='Year')
df.reset_index(inplace=True, drop=True)
df.head()

   Year first_prediction second_prediction third_prediction actual
0  2000              ATL               LAD              NYM    NYY
1  2001              CHC               CLE              SEA    ARI
2  2002              BOS               SFG              ANA    ANA
3  2003              FLA               TOR              CHW    FLA
4  2004              STL               CHC              LAD    BOS

In [80]:
# add full names to df
teams =  ['ANA','ARI','ATL','BAL','BOS','CHC','CHW','CIN','CLE','COL','DET','FLA','HOU','KCR','LAA','LAD','MIA','MIL','MIN','MON','NYM','NYY','OAK','PHI','PIT','SDP','SEA','SFG','STL','TBD','TBR','TEX','TOR','WSN']
full_names = ['Anahiem Angels','Arizona Diamondbacks','Atlanta Braves','Baltimore Orioles','Boston Red Sox','Chicago Cubs','Chicago White Sox','Cincinnati Reds','Cleveland Indians','Colorado Rockies','Detroit Tigers','Florida Marlins','Houston Astros','Kansas City Royals','Los Angeles Angels','Los Angeles Dodgers','Miami Marlins','Milwaukee Brewers','Minnesota Twins','Montreal Expos','New York Mets','New York Yankees','Oakland Athletics','Philadelphia Phillies','Pittsburgh Pirates','San Diego Padres','Seattle Mariners','San Francisco Giants','St. Louis Cardinals','Tampa Bay Devil Rays','Tampa Bay Rays','Texas Rangers','Toronto Blue Jays','Washington Nationals']
full_names_df = pd.DataFrame({'abbr':teams,'fn':full_names})
# full_names_df

In [81]:
df = df.merge(full_names_df, right_on='abbr', left_on='actual')

In [82]:
df.rename(columns={'fn':'actual_fn'},inplace=True)
df.drop(columns='abbr',inplace=True)

In [83]:
df = df.merge(full_names_df, right_on='abbr', left_on='first_prediction')

In [84]:
df.rename(columns={'fn':'first_prediction_fn'},inplace=True)
df.drop(columns='abbr',inplace=True)

In [85]:
df = df.merge(full_names_df, right_on='abbr', left_on='second_prediction')

In [86]:
df.rename(columns={'fn':'second_prediction_fn'},inplace=True)
df.drop(columns='abbr',inplace=True)

In [87]:
df = df.merge(full_names_df, right_on='abbr', left_on='third_prediction')

In [88]:
df.rename(columns={'fn':'third_prediction_fn'},inplace=True)
df.drop(columns='abbr',inplace=True)

In [89]:
df

,Year,first_prediction,second_prediction,third_prediction,actual,actual_fn,first_prediction_fn,second_prediction_fn,third_prediction_fn
0,2000,ATL,LAD,NYM,NYY,New York Yankees,Atlanta Braves,Los Angeles Dodgers,New York Mets
1,2019,OAK,LAD,HOU,WSN,Washington Nationals,Oakland Athletics,Los Angeles Dodgers,Houston Astros
2,2005,ATL,CLE,BOS,CHW,Chicago White Sox,Atlanta Braves,Cleveland Indians,Boston Red Sox
3,2001,CHC,CLE,SEA,ARI,Arizona Diamondbacks,Chicago Cubs,Cleveland Indians,Seattle Mariners
4,2009,LAA,COL,PHI,NYY,New York Yankees,Los Angeles Angels,Colorado Rockies,Philadelphia Phillies
5,2018,BOS,COL,ATL,BOS,Boston Red Sox,Boston Red Sox,Colorado Rockies,Atlanta Braves
6,2013,STL,BOS,ATL,BOS,Boston Red Sox,St. Louis Cardinals,Boston Red Sox,Atlanta Braves
7,2007,SDP,COL,ARI,BOS,Boston Red Sox,San Diego Padres,Colorado Rockies,Arizona Diamondbacks
8,2012,LAA,TEX,MIL,SFG,San Francisco Giants,Los Angeles Angels,Texas Rangers,Milwaukee Brewers
9,2002,BOS,SFG,ANA,ANA,Anahiem Angels,Boston Red Sox,San Francisco Giants,Anahiem Angels
10,2008,BOS,LAA,CHC,PHI,Philadelphia Phillies,Boston Red Sox,Los Angeles Angels,Chicago Cubs
11,2015,PIT,TOR,CHC,KCR,Kansas City Royals,Pittsburgh Pirates,Toronto Blue Jays,Chicago Cubs
12,2006,NYM,LAA,MIN,STL,St. Louis Cardinals,New York Mets,Los Angeles Angels,Minnesota Twins
13,2017,LAD,STL,MIN,HOU,Houston Astros,Los Angeles Dodgers,St. Louis Cardinals,Minnesota Twins
14,2020,LAD,TBR,MIN,LAD,Los Angeles Dodgers,Los Angeles Dodgers,Tampa Bay Rays,Minnesota Twins
15,2016,BOS,DET,KCR,CHC,Chicago Cubs,Boston Red Sox,Detroit Tigers,Kansas City Royals
16,2003,FLA,TOR,CHW,FLA,Florida Marlins,Florida Marlins,Toronto Blue Jays,Chicago White Sox
17,2004,STL,CHC,LAD,BOS,Boston Red Sox,St. Louis Cardinals,Chicago Cubs,Los Angeles Dodgers
18,2011,ARI,MIL,NYY,STL,St. Louis Cardinals,Arizona Diamondbacks,Milwaukee Brewers,New York Yankees
19,2010,NYY,CIN,TEX,SFG,San Francisco Giants,New York Yankees,Cincinnati Reds,Texas Rangers
20,2014,DET,BAL,TOR,SFG,San Francisco Giants,Detroit Tigers,Baltimore Orioles,Toronto Blue Jays

In [90]:
df.to_json('nn_predictions.json')